@{
    ViewBag.Title = "Desktop";
}

<h2>Desktop</h2>

<h3 id="connectUrl"></h3>

<script>
    var app;
    $(document).ready(function() {
        app = DesktopApp('#connectUrl');
        app.init();
    });
</script>

