@model SneakySignal.ViewModel.MobileViewModel
@{
    ViewBag.Title = "Mobile";
}

<h2>Mobile</h2>
<label >alpha:</label><span id="alpha">0</span>
<label >beta:</label><span id="beta">0</span>
<label >gama:</label><span id="gamma">0</span>

<script>
    var app;
    $(document).ready(function() {
        app = MobileApp('@Model.ConnectionId');
        app.init();
    });
</script>

