@model SneakySignal.ViewModel.MobileViewModel
@{
    ViewBag.Title = "Mobile";
}

<h2>Mobile</h2>
<button id="notify">test</button>

<script>
    var app;
    $(document).ready(function() {
        app = MobileApp('@Model.ConnectionId');
        app.init();
    });
</script>

